{% macro render_line(key, value='') %}{% if value|length -%}
    {{ key }}={{ value }}
{% endif %}{% endmacro -%}

{{ render_line('RESTIC_REPOSITORY_FILE', restic_conf_repository_file) -}}
{{ render_line('RESTIC_REPOSITORY', restic_conf_repository) -}}
{{ render_line('RESTIC_PASSWORD_FILE', restic_conf_password_file) -}}
{% if restic_conf_password|length and not restic_conf_password_file %}
    {{ render_line('RESTIC_PASSWORD', restic_conf_password) -}}
{%- endif %}
{{ render_line('RESTIC_PASSWORD_COMMAND', restic_conf_password_command) -}}
{{ render_line('RESTIC_KEY_HINT', restic_conf_key_hint) -}}
{{ render_line('RESTIC_CACERT', restic_conf_cacert) -}}
{{ render_line('RESTIC_TLS_CLIENT_CERT', restic_conf_tls_client_cert) -}}
{{ render_line('RESTIC_CACHE_DIR', restic_conf_cache_dir) -}}
{{ render_line('RESTIC_COMPRESSION', restic_conf_compression) -}}
{{ render_line('RESTIC_PROGRESS_FPS', restic_conf_progress_fps) -}}
{{ render_line('RESTIC_PACK_SIZE', restic_conf_pack_size) -}}
{{ render_line('RESTIC_READ_CONCURRENCY', restic_conf_read_concurrency) -}}
{{ render_line('TMPDIR', restic_conf_tmpdir) -}}
{{ render_line('AWS_ACCESS_KEY_ID', restic_conf_aws_access_key_id) -}}
{{ render_line('AWS_SECRET_ACCESS_KEY', restic_conf_aws_secret_access_key) -}}
{{ render_line('AWS_SESSION_TOKEN', restic_conf_aws_session_token) -}}
{{ render_line('AWS_DEFAULT_REGION', restic_conf_aws_default_region) -}}
{{ render_line('AWS_PROFILE', restic_conf_aws_profile) -}}
{{ render_line('AWS_SHARED_CREDENTIALS_FILE', restic_conf_aws_shared_credentials_file) -}}
{{ render_line('ST_AUTH', restic_conf_st_auth) -}}
{{ render_line('ST_USER', restic_conf_st_user) -}}
{{ render_line('ST_KEY', restic_conf_st_key) -}}
{{ render_line('OS_AUTH_URL', restic_conf_os_auth_url) -}}
{{ render_line('OS_REGION_NAME', restic_conf_os_region_name) -}}
{{ render_line('OS_USERNAME', restic_conf_os_username) -}}
{{ render_line('OS_USER_ID', restic_conf_os_user_id) -}}
{{ render_line('OS_PASSWORD', restic_conf_os_password) -}}
{{ render_line('OS_TENANT_ID', restic_conf_os_tenant_id) -}}
{{ render_line('OS_TENANT_NAME', restic_conf_os_tenant_name) -}}
{{ render_line('OS_USER_DOMAIN_NAME', restic_conf_os_user_domain_name) -}}
{{ render_line('OS_USER_DOMAIN_ID', restic_conf_os_user_domain_id) -}}
{{ render_line('OS_PROJECT_NAME', restic_conf_os_project_name) -}}
{{ render_line('OS_PROJECT_DOMAIN_NAME', restic_conf_os_project_domain_name) -}}
{{ render_line('OS_PROJECT_DOMAIN_ID', restic_conf_os_project_domain_id) -}}
{{ render_line('OS_TRUST_ID', restic_conf_os_trust_id) -}}
{{ render_line('OS_APPLICATION_CREDENTIAL_ID', restic_conf_os_application_credential_id) -}}
{{ render_line('OS_APPLICATION_CREDENTIAL_NAME', restic_conf_os_application_credential_name) -}}
{{ render_line('OS_APPLICATION_CREDENTIAL_SECRET', restic_conf_os_application_credential_secret) -}}
{{ render_line('OS_STORAGE_URL', restic_conf_os_storage_url) -}}
{{ render_line('OS_AUTH_TOKEN', restic_conf_os_auth_token) -}}
{{ render_line('B2_ACCOUNT_ID', restic_conf_b2_account_id) -}}
{{ render_line('B2_ACCOUNT_KEY', restic_conf_b2_account_key) -}}
{{ render_line('AZURE_ACCOUNT_NAME', restic_conf_azure_account_name) -}}
{{ render_line('AZURE_ACCOUNT_KEY', restic_conf_azure_account_key) -}}
{{ render_line('AZURE_ACCOUNT_SAS', restic_conf_azure_account_sas) -}}
{{ render_line('AZURE_ENDPOINT_SUFFIX', restic_conf_azure_endpoint_suffix) -}}
{{ render_line('GOOGLE_PROJECT_ID', restic_conf_google_project_id) -}}
{{ render_line('GOOGLE_APPLICATION_CREDENTIALS', restic_conf_google_application_credentials) -}}
{{ render_line('RCLONE_BWLIMIT', restic_conf_rclone_bwlimit) -}}